<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.github.putpixel.refrehcleanbuild.run.btn"
               label="Refreh Clean Build">
            <command
                  commandId="com.github.putpixel.refrehcleanbuild.run.btn.command"
                  icon="icons/iconRCB16.png"
                  label="Refresh Clean Build"
                  style="push">
            </command>
            <command
                  commandId="com.github.putpixel.refrehclean.run.btn.command"
                  icon="icons/iconRC16.png"
                  label="Refresh Clean"
                  style="push">
            </command>
            <command
                  commandId="com.github.putpixel.refrehbuild.run.btn.command"
                  icon="icons/iconRB16.png"
                  label="Refresh Build"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.github.putpixel.refrehcleanbuild.RefreshCleanBuildCommand"
            id="com.github.putpixel.refrehcleanbuild.run.btn.command"
            name="Refresh Clean Build">
      </command>
      <command
            defaultHandler="com.github.putpixel.refrehcleanbuild.RefreshCleanCommand"
            id="com.github.putpixel.refrehclean.run.btn.command"
            name="Refresh Clean">
      </command>
      <command
            defaultHandler="com.github.putpixel.refrehcleanbuild.RefreshBuildCommand"
            id="com.github.putpixel.refrehbuild.run.btn.command"
            name="Refresh Build">
      </command>
   </extension>

</plugin>
